@{
    ViewData["Title"] = "Home";
    ViewData["script"] = "home.js";
    ViewData["stylesheet"] = "home.css";
    Layout = "_Layout";
}

@Html.Partial("_Header")
<div class="container" style = "padding-bottom: 0">
    <div class="first-section">
        <div class="container-text" id = "first-section-text">
            <div class="text">
                <h1>Create and share quizzes</h1>
                <p>Build interactive tests and quizzes easily with our platform</p>
            </div>
            <div class="button">
                <button onclick="location.href='/Account/signup1'">Get Started</button>
            </div>
            <div class="img_checked">
                <img src="~/images/home/Purple_check.svg" alt="img_checked">
            </div>
        </div>
        <div class="container-image">
            <img src="~/images/home/photo1-01.png" alt="photo1-01">
        </div>
    </div>

    <div class="second-section">
        <div class="container-image">
            <img src="~/images/home/Home_second.png" alt="second">
        </div>
        <div class="container-text">
            <div class="text">
                <h1>Completely new way of learning</h1>
                <p>We provide a platform for you to create and share quizzes with your friends and family</p>
            </div>

        </div>

    </div>
</div>
@Html.Partial("_Footer")