


@{
    ViewData["Title"] = "Sign up";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Sign_up1.css" />
    <link rel="icon" type="image/png" href="~/images/logos/SmallerLogo.png">
</head>






<body>

<div class = "main">
    <div class="Details">
        <div class = "logo">
            <img src="~/images/logos/Logo1.png" alt="logo">
        </div>
        <h1>Create a Quizzy Account</h1>
        <p>Enter your name</p>
    </div>
    <div class="form">
        <form asp-controller="Home" asp-action="SubmitSignUp1" method="post">
            <input type="text" name="Name" placeholder="Name" required>
            <input type="text" name="LastName" placeholder="Last Name" required>
            <input type="text" name="MiddleName" placeholder="Middle Name (optional)">
            <div class="submit">
                <a style = "margin-right: 20px;" href="/signin">Have an account?<br>Sign in!</a>
                <input type="submit" value="Next">
            </div>
            @if (ViewBag.Error != null)
            {
                <div style="color:#e74c3c; background-color:#fcebea; padding:10px; border:1px solid #e0b4b4; border-radius:4px; font-weight:bold;margin: 20px auto;">
                    @ViewBag.Error
                </div>
            }
            
        </form>

        
        </div>



</div>








</body>

</html>