@using Quizzy.Constants
@model Quizzy.Models.Tests.CreateViewModel
@{
    ViewData["HasFooter"] = false;
    ViewData["HasHeader"] = false;
    ViewData["Title"] = "Create";
    ViewData["stylesheet"] = "tests/create.css";
    Layout = "_Layout";
}
<h4 class="page-title">Create Test</h4>
<form class="form-container" asp-controller="Tests" asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Subject"></label>
        <select asp-for="Subject">
            <option value="">Choose a subject...</option>
            @foreach (var s in Subjects.Values)
            {
                <option value="@s">@s</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="Grade"></label>
        <select asp-for="Grade">
            <option value="">Choose a grade...</option>
            @for(int i = 5; i <= 11; i++)
            {
                <option value="@i">@i - grade</option>
            }
        </select>
    </div>
    <button type="submit">Create Test</button>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger mt-2">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
</form>