@model List<Quizzy.Models.Tests.ResultCardViewModel>
@{
	Layout = "_Layout";
	ViewData["stylesheet"] = "tests/resultsoftests.css";
}
<div class="results-container" style="min-height: calc(100vh - 350px)">
    @foreach (var result in Model)
    {
        <a asp-controller="Tests"
           asp-action="ResultCard"
           asp-route-resultId="@result.ResultId"
           class="result-link">
            <div class="result-card">
                <h3>@result.FullName</h3>
                <div class="progress-bar">
                    <div class="progress" style="width:@result.SuccessPercentage%"></div>
                </div>
                <p>@result.Points / @result.TotalPoints Points</p>
            </div>
        </a>
    }
</div>


