<style>
    ul li a {
        color: white;
    }

    ul li {
        margin-top: 10px;
    }
</style>
<footer style="background-color: #9d85df; padding: 40px; color: white; text-align: center;width: 100%; padding-top: 20px;margin-top: 0; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
    <div style="max-width: 1000px; margin: 0 auto;">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between; text-align: left; padding: 0 20px;">

            <div style="flex: 1; min-width: 200px; margin-bottom: 20px;margin-right: 20px;">
                <h3 style="margin-bottom: 10px;">QUIZZY</h3>
                <p>Build quizzes easily and share them with the world.</p>
            </div>

            <div style="flex: 1; min-width: 200px; margin-bottom: 20px;">
                <h4>Quick Links</h4>
                <ul style="list-style: none; padding: 0;" class="underlined-list">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/">Home</a></li>
                        <li><a href="/Home/About">About</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                        @if (User.IsInRole("teacher"))
                        {
                            <li><a href="/Tests/Search_Test">All tests</a></li>
                            <li><a href="/Tests/Create">Add new Test</a></li>
                            <li><a href="/Run/Code">Join Test</a></li>
                        }
                        else
                        {
                            <li><a href="#">Start Homework</a></li>
                        }
                    }
                    else
                    {
                        <li><a href="/" style="color: white; ">Home</a></li>
                        <li><a href="/Home/About" style="color: white; ">About</a></li>
                        <li><a href="/Home/Contact" style="color: white; ">Contact</a></li>
                    }
                </ul>
            </div>

            <div style="flex: 1; min-width: 200px; margin-bottom: 20px;" class="underlined-list">
                <h4>Follow Us</h4>
                <a href="#" style="color: white; margin-right: 10px; ">Facebook</a>
                <a href="#" style="color: white; margin-right: 10px; ">Twitter</a>
                <a href="#" style="color: white; ">Instagram</a>
            </div>
        </div>

        <hr style="border: 0; height: 1px; background: #c6b7f0; margin: 30px 0;">

        <p style="margin: 0;">&copy; 2025 Quizzy. All rights reserved.</p>
    </div>
</footer>