<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Quizzy</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/css/@ViewData["stylesheet"]" asp-append-version="true"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
    <script src="~/js/@ViewData["script"]" asp-append-version="true"></script>
    <link rel="icon" type="image/png" href="~/images/logos/SmallerLogo.png">
</head>
<body>
@RenderBody()
</body>
</html>