@{
    ViewData["Title"] = "Preferences Page";
    ViewData["stylesheet"] = "preferences.css";
    Layout = "_Layout";
}
@model Quizzy.Models.UserViewModel

<h2>Settings</h2>
<form asp-controller="Account" asp-action="SavePreferences" method="post">
    <label for="Name">Name:</label>
    <input type="text" id="Name" name="Name" placeholder="Name" required>

    <label for="LastName">Last Name:</label>
    <input type="text" id="LastName" name="LastName" placeholder="Last Name" required>

    <label for="MiddleName">Middle Name (optional):</label>
    <input type="text" id="MiddleName" name="MiddleName" placeholder="Middle Name (optional)">
</form>