@{
    ViewData["Title"] = "Preferences";
    ViewData["stylesheet"] = "preferences.css";
    Layout = "_Layout";
}
@model PreferencesViewModel

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">@ViewBag.Success</div>
}

@* @Html.ValidationSummary(false, "") *@

<form class="preferences-form" asp-action="Preferences" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Photo"></label>
        <input asp-for="Photo" type="file" accept=".jpg,.jpeg,.png" />
        <span asp-validation-for="Photo"></span>
    </div>

    <div>
        <img class="userImg" src="~/images/users/@Model.PhotoName" alt="Current photo" width="150" />
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" readonly />
    </div>

    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="MiddleName"></label>
        <input asp-for="MiddleName" />
    </div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label asp-for="About"></label>
        <textarea asp-for="About"></textarea>
    </div>

    <div>
        <label asp-for="School"></label>
        <input list="schools" asp-for="School" />
        <datalist id="schools">
            @foreach (var school in Model.Schools)
            {
                <option value="@school"></option>
            }
        </datalist>
    </div>

    <div>
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" type="password" />
    </div>

    <div>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" type="password" />
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button class="formbutton" type="submit">Save Changes</button>

    @if (!ViewData.ModelState.IsValid && Model.second_error)
    {
        <div class="alert alert-danger mt-2">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
</form>
