@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Quizzy.Models.VerificationViewModel
@{
    ViewData["Title"] = "Sign up";
    Layout = null;
    string link = $"/signup2?regId={Model.RegId}";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Sign_in.css" />
    <link rel="icon" type="image/png" href="~/images/logos/SmallerLogo.png">
</head>

<body>
    
    <div class = "main">
        <div class="Details">
            <div class = "logo">
                <img src="~/images/logos/Logo1.png" alt="logo">
            </div>
            <h1>Sign in</h1>
            <p>to continue to Quizzy</p>
        </div>
        <div class="form">
            <form asp-controller="Home" asp-action="SubmitSignIn" method="post">
                <input type="email" name="Email" placeholder="Email" required>
                <input type="password" name="Password" placeholder="Password" required>
                <div class="submit">
                    <a href="/signup1">Create an account</a>
                    <input type="submit" value="Sign in">
                </div>
                @if (!string.IsNullOrEmpty(Model.Error))
                {
                    <div style="color:#e74c3c; background-color:#fcebea; padding:10px; border:1px solid #e0b4b4; border-radius:4px; font-weight:bold;margin: 20px auto;">
                        @Model.Error
                    </div>
                }
            </form>
        </div>
       

        
    </div>

 
    
</body>
</html>