@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Quizzy.Models.VerificationViewModel
@{
    ViewData["Title"] = "Sign up";
    ViewData["stylesheet"] = "Sign_up2.css";
    Layout = "_Layout";
}

<div class = "main">
    <div class="Details">
        <div class = "logo">
            <img src="~/images/logos/Logo1.png" alt="logo">
        </div>
        <h1>Enter your Email Address</h1>
        <p>Enter your Email to verify your personal information</p>
    </div>
    <div class="form">
        <form asp-controller="Account" asp-action="SubmitSignUp2" method="post">
            <input type="hidden" name="registrationId" value="@Model.RegId"/>
            <input type="email" name="Email" placeholder="Email" required>
            <div class="submit">
                <a style = "margin-right: 20px;" href="/Account/signin">Have an account?<br>Log in!</a>
                <input type="submit" value="Sign Up">
            </div>
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div style="color:#e74c3c; background-color:#fcebea; padding:10px; border:1px solid #e0b4b4; border-radius:4px; font-weight:bold;margin: 20px auto;">
                    @Model.Error
                </div>
            }
        </form>
    </div>
</div>