@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Quizzy.Models.VerificationViewModel
@{
    ViewData["Title"] = "Sign up";
    ViewData["stylesheet"] = "Sign_up3.css";
    Layout = "_Layout";
    string link = $"/Account/signup2?regId={Model.RegId}";
}

<div class = "main">
    <div class="Details">
        <div class = "logo">
            <img src="~/images/logos/Logo1.png" alt="logo">
        </div>
        <h1>Enter a verification code</h1>
        <p>Enter a verification code we sent to<br/><strong>@Model.Email</strong></p>
    </div>
    <div class="form">
        <form asp-controller="Account" asp-action="SubmitSignUp3" method="post">
            <input type="hidden" name="regId" value="@Model.RegId">
            <input type="text" name="verificationCode" placeholder="Verification Code" required>
            <div class="submit">
                <a style="margin-right: 20px;" href=@link>Not your email?<br>Click here!</a>
                <input type="submit" value="Sign Up">
            </div>
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div style="color:#e74c3c; background-color:#fcebea; padding:10px; border:1px solid #e0b4b4; border-radius:4px; font-weight:bold;margin: 20px auto;">
                    @Model.Error
                </div>
            }
        </form>
    </div>
</div>