@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Quizzy.Models.RegisterViewModel
@{
    ViewData["Title"] = "Sign up";
    ViewData["stylesheet"] = "Sign_up4.css";
    Layout = "_Layout";
    ViewData["HasHeader"] = false;
    ViewData["HasFooter"] = false;
}

<div class = "main">
    <div class="Details">
        <div class = "logo">
            <img src="~/images/logos/Logo1.png" alt="logo">
        </div>
        <h1>Finish Your Registration</h1>
        <p>Pick Your Role and Enter Your Password</p>
    </div>
    <div class="form">
        <form asp-controller="Account" asp-action="SignUp4" method="post">
            <input type="hidden" name="FirstName" value="@TempData.Peek("FirstName")"/>
            <input type="hidden" name="MiddleName" value="@TempData.Peek("MiddleName")"/>
            <input type="hidden" name="LastName" value="@TempData.Peek("LastName")"/>
            <input type="hidden" name="Email" value="@TempData.Peek("Email")"/>
            
            <input asp-for="IsTeacher" type="hidden" name="IsTeacher" id="isTeacherInput" value="true">
            <button type="button" id="roleToggle" style="font-size: 20px;">I am teacher</button>

            <label asp-for="Password"></label>
            <input asp-for="Password" id="Password" placeholder="Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
            
            <div class="submit">
                <a style="margin-right: 20px;" href="/Account/signin">Have an account?<br>Log in!</a>
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>    
</div>

<script>
        const button = document.getElementById('roleToggle');
        const hidden = document.getElementById('isTeacherInput');
        let isTeacher = true;
    
        button.addEventListener('click', () => {
          isTeacher = !isTeacher;
          button.textContent = isTeacher ? 'I am teacher' : 'I am student';
          button.classList.toggle('active');
          hidden.value = isTeacher;
        });
</script>