@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Quizzy.Models.VerificationViewModel
@{
    ViewData["Title"] = "Sign up";
    Layout = null;
    string link = $"/Account/signup2?regId={Model.RegId}";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Sign_up4.css" />
    <link rel="icon" type="image/png" href="~/images/logos/SmallerLogo.png">
</head>

<body>
    
    <div class = "main">
        <div class="Details">
            <div class = "logo">
                <img src="~/images/logos/Logo1.png" alt="logo">
            </div>
            <h1>Finish Your Registration</h1>
            <p>Pick Your Role and Enter Your Password</p>
        </div>
        <div class="form">
            <form asp-controller="Account" asp-action="SubmitSignUp4" method="post">
                <input type="hidden" name="regId" value="@Model.RegId">
                <input type="hidden" name="IsTeacher" id="isTeacherInput" value="true">
                <button type="button" id="roleToggle" style="font-size: 20px;">I am teacher</button>
                <input type="password" name="Password" placeholder="Password" required>
                <div class="submit">
                    <a style="margin-right: 20px;" href="/Account/signin">Have an account?<br>Log in!</a>
                    <input type="submit" value="Sign Up">
                </div>
            </form>
        </div>
       

        
    </div>


    <script>
        const button = document.getElementById('roleToggle');
        const hidden = document.getElementById('isTeacherInput');
        let isTeacher = true;
    
        button.addEventListener('click', () => {
          isTeacher = !isTeacher;
          button.textContent = isTeacher ? 'I am teacher' : 'I am student';
          button.classList.toggle('active');
          hidden.value = isTeacher;
        });
      </script>



    
    
</body>
</html>