@{
    ViewData["Title"] = "Sign up";
    ViewData["stylesheet"] = "Sign_up1.css";
    Layout = "_Layout";
}
<div class = "main">
    <div class="Details">
        <div class = "logo">
            <img src="~/images/logos/Logo1.png" alt="logo">
        </div>
        <h1>Create a Quizzy Account</h1>
        <p>Enter your name</p>
    </div>
    <div class="form">
        <form asp-controller="Account" asp-action="SignUp1" method="post">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" placeholder="Name" required>

            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName" placeholder="Last Name" required>

            <label for="MiddleName">Middle Name (optional):</label>
            <input type="text" id="MiddleName" name="MiddleName" placeholder="Middle Name (optional)">

            <div class="submit">
                <a style="margin-right: 20px;" href="/Account/signin">Have an account?<br>Sign in!</a>
                <input type="submit" value="Next">
            </div>

            @if (ViewBag.Error != null)
            {
                <div style="color:#e74c3c; background-color:#fcebea; padding:10px; border:1px solid #e0b4b4; border-radius:4px; font-weight:bold;margin: 20px auto;">
                    @ViewBag.Error
                </div>
            }
        </form>

    </div>
</div>