@{
    ViewData["Title"] = "Sign up";
    ViewData["stylesheet"] = "Sign_up1.css";
    Layout = "_Layout";
    ViewData["HasHeader"] = false;
    ViewData["HasFooter"] = false;
}
<style>
    .text-danger{
        color: red;
        font-weight: bold;
        font-size: 22px;
    }
</style>
@model Quizzy.Models.RegisterViewModel
<div class = "main">
    <div class="Details">
        <div class = "logo">
            <img src="~/images/logos/Logo1.png" alt="logo">
        </div>
        <h1>Create a Quizzy Account</h1>
        <p>Enter your name</p>
    </div>
    <div class="form">
        <form asp-controller="Account" asp-action="SignUp1" method="post">
            @*<div asp-validation-summary="ModelOnly"></div>*@
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>

            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>

            <label asp-for="MiddleName" class="form-label"></label>
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName" class="text-danger"></span>

            <div class="submit">
                <a style="margin-right: 20px;" href="/Account/signin">Have an account?<br>Sign in!</a>
                <input type="submit" value="Next">
            </div>

            @* @if (ViewBag.Error != null) *@
            @* { *@
            @*     <div style="color:#e74c3c; background-color:#fcebea; padding:10px; border:1px solid #e0b4b4; border-radius:4px; font-weight:bold;margin: 20px auto;"> *@
            @*         @ViewBag.Error *@
            @*     </div> *@
            @* } *@
        </form>

    </div>
</div>