html, body {
    margin: 0;
    padding: 0;
}

/* Use border-box sizing for predictable layout */
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    padding-top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6e57d3;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .container .first-section, .container .second-section{
    back
} */

.first-section, .second-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #fff7f7;
}

.first-section .container-text, .second-section .container-text{
    width: 50%;
}

.first-section .container-image, .second-section .container-image{
    width: 50%;
    margin: 0 50px;
    padding: 0;
}






.first-section #first-section-text .img_checked{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-top: 50px;
}
.first-section #first-section-text .img_checked img{
    width: 30%;
    height: auto;
}

.first-section .container-text .text, .second-section .container-text .text{
    text-align: center;
}

.first-section .container-text .text h1, .second-section .container-text .text h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #3b65d6;
}

.first-section .container-text .text p, .second-section .container-text .text p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #3b65d6;
}

.first-section .container-text .button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.first-section .container-text .button button{
    background-color: #3b65d6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.first-section .container-text .button button:hover{
    transition: 0.2s;
    text-decoration: underline;
}


.first-section .container-image, .second-section .container-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-section .container-image img, .second-section .container-image img{
    width: 70%;
    height: auto;
}



.underlined-list a{
    text-decoration: none;
}

.underlined-list a:hover {
    text-decoration: underline;
    transition: 0.2s;
}








@media (min-width: 1850px) {
    .first-section .container-image img{
        width: 700px;
        height: auto;
    }
    .second-section .container-image img{
        width: 700px;
        height: auto;
    }

}

@media (max-width: 1200px) {
    .first-section, .second-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-section div, .second-section div{
        margin: 20px 0;
    }

    .first-section .container-image img, .second-section .container-image img{
        width: 360px;
        height: auto;
    }

    .first-section .container-text .img_checked{
        display: none;
    }


    .second-section .container-text{
        order: 1;
    }

    .second-section .container-image{
        order: 2;
    }

    .first-section .img_checked img{
        display: none;
    }

}


@media (max-width: 800px) {
    .first-section .container-image img{
        width: 360px;
        height: auto;
    }
}
