@{
    ViewData["Title"] = "CodeLink";
    Layout = "_Layout";
    ViewData["HasHeader"] = false;
    ViewData["HasFooter"] = false;
}


<style>
    body{
        width: 100%;
        height: 100vh;
        background-color: #f0f4f9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main{
        display: flex;
        width: 1040px;
        align-items: center;
        border-radius: 10px;
        background-color: #6c4dd9;

    }
    .Details{
        width: 50%;
        display: flex;
        align-self:self-start;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
       
        border-bottom-right-radius:  10px;
        border-bottom-left-radius:  10px;
        padding: 30px;
        box-sizing: border-box;
    }

    .Details p{
        font-size: 22px;
    }

    .Details h1, .Details p, .Details .logo {
        margin: 0;
        margin: 5px;
    }

    .Details h1{
        font-weight: 100;
        font-size: 32px;
    }

    
    

    .Details .logo{
        width: 45%;
        height: auto;
    }

    .Details .logo img{
        width: 100%;
        height: auto;
    }
    .Details h1,p{
        color: white;
    }
    .Details div{
        margin: 0 20px;
    }

    .form{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 40px;
        margin-bottom: 0px;
        align-items: center;
    }

    form input{
        width: calc(100% - 20px);
        padding: 10px;
        margin: 20px 0;
        border-radius: 5px;
        border: none;
        font-size: 16px;
    }
    form div{
        width: 100%;
    }

    form div label{
        font-size: 22px;
        margin: 0;
        margin-bottom: 10px;
        color: white;
    }

    form div input{
        margin-top: 5px;
    }

    .submit{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        width: 100%;
        margin: 10px 0;
       
    }

    

    form input[type="submit"]{
        width: 80px;
        background-color: #2062db;
        border:none;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 20px;
        margin:20px;
        margin-right: 0;
        transition: all 200ms ease;
        color: white;
    } 

    form input[type="submit"]:hover{
        background-color: #2952c8;
        cursor: pointer;
    }


    @@media (max-width: 1600px) {
        .main{
            width: 80%;
        }
    }

    @@media (max-width: 1330px) {
            .main{
            display: flex;
            flex-direction: column;
            width: 480px;
            align-items: center;
            border-radius: 10px; 
            background-color: #6c4dd9;
        }

        .form{
            width: 100%;
        }
        .submit{
            justify-content: space-between;
        }
        .Details{
            width: 100%;
        }
        
    }
</style>


<body>
    
    <div class = "main">
        <div class="Details">
            <div class = "logo">
                <img src="~/images/logos/Logo1.png" alt="logo">
            </div>
            <h1>Pass the test</h1>
            <p>Enter your name to pass the test</p>
        </div>
        <div class="form">
            <form action="/submit" method="post">
                <div>
                    <label for="Name">Name (required)</label>
                    <input type="text" name="Name" placeholder="Name" id = "Name" id = "Name" required>
                </div>
                <div class="submit">
                    <input type="submit" value="Pass">
                </div>
            </form>
        </div>
       

        
    </div>

 
    
</body>