@using Microsoft.EntityFrameworkCore
@using Quizzy.Models.Tests
@model RunTestViewModel 
@{
    ViewData["Title"] = "Code";
    Layout = "_Layout";
    ViewData["HasHeader"] = false;
    ViewData["HasFooter"] = false;
    ViewData["stylesheet"] = "Run/Code.css";
}

<body>
    
    <div class = "main">
        <div class="Details">
            <div class = "logo">
                <img src="~/images/logos/Logo1.png" alt="logo">
            </div>
            <h1>Pass the test</h1>
            <p>Enter the code of the test<br>and you name</p>
        </div>
        <div class="form">
            <form asp-controller="Run" asp-action="Code" method="post">
                @if (Model.FullView)
                {
                    <div>
                        <label for="code">Code (required)</label>
                        <input type="number" name="code" placeholder="Code" id="code" required>
                    </div>
                }
                else
                {
                    <!-- приховано передаємо код -->
                    <input type="hidden" name="code" value="@Model.Code" />
                }

                <div>
                    <label for="Name">Name (required)</label>
                    <input type="text" name="name" placeholder="Name" id="Name" required>
                </div>
                <div class="submit">
                    <input type="submit" value="Pass">
                </div>

                @if (!Model.IsSuccessful)
                {
                    <h3 style="color: red">@Model.Error</h3>
                }
            </form>
        </div>
       

        
    </div>

 
    
</body>
<script>
    const code = "@Model.Code";
    localStorage.removeItem("currentIndex_" + code);

</script>